!!!
%html
  %head
  %title Educapsule
  = stylesheet_link_tag 'application', media: 'screen, projection', 'data-turbolinks-track' => true
  = stylesheet_link_tag 'application_print', media: 'print', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %body
    = yield